* {
    margin: 0;
    padding: 5;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background: linear-gradient(135deg, #a435e4 0%, #00f2fe 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


form {
    background: #ffffff;
    padding: 30px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}


form input[type="text"] {
    width: 100%;
    padding: 12px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
}


form input[type="text"]:focus {
    outline: none;
    border-color: #4facfe;
    box-shadow: 0 0 6px rgba(79, 172, 254, 0.5);
    background-color: #fff;
}


form input::placeholder {
    color: #888;
    font-size: 14px;
}


@media (max-width: 500px) {
    form {
        padding: 25px 20px;
    }
    form input[type="text"] {
        font-size: 14px;
    }
}