*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn {
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 55px;
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    margin: 5px;   
}

.btn-success {
    background-color: rgb(110, 180, 5);
    color: aliceblue;
}

.btn-success:hover {
    background-color: darkgreen;
    box-shadow: 2px 2px 3px gray;
    color: whitesmoke;
}

.btn-warning {
    background-color: orange;
    color: whitesmoke;
}

.btn-warning:hover {
    background-color: darkorange;
    color: whitesmoke;
    box-shadow: 2px 2px 3px gray;
}

.table {
    border: 1px solid rgb(39, 37, 37);
    border-collapse: collapse;
    margin-top: 2%;
    width: 95%;
}
.table th {
    background-color: gray;
    color: azure;
    border-bottom: rgb(39, 38, 38) solid 2px;
    padding-left: 1%;
    padding-right: 1%;
}
.table td {
    padding-left: 1%;
    padding-right: 1%;
}

.table tr:nth-child(even){
    background-color: rgb(180, 178, 178);
}

.form-control {
    border: 1px solid rgb(105, 102, 102);
    border-radius: 6px;
    padding: 0.8%;
    width: 75%;
}