/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    background: #0077b6;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

header h1 {
    margin-bottom: 15px;
}

/* Menu */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background: #0096c7;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover {
    background: #023e8a;
}

/* Responsividade */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        gap: 15px;
    }
}
